.button {
  background-color:red  ;
  border: 2px solid black;
  color:white;
  border-radius: 5px;
  text-align: center;
  
   
}
#root {
text-align: left;
}
.star {
  background-color: greenyellow;
  color: yellow;
}.star.active {
  color:gold
}